{% macro list(shipping_categories) %}

{% if shipping_categories|length > 0 %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ sylius_resource_sort('id', 'sylius.backend.shipping_category.id'|trans) }}</th>
                <th>{{ sylius_resource_sort('name', 'sylius.backend.shipping_category.name'|trans) }}</th>
                <th>{{ sylius_resource_sort('updatedAt', 'sylius.backend.shipping_category.updated_at'|trans) }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for shipping_category in shipping_categories %}
            <tr>
                <td>{{ shipping_category.id }}</td>
                <td>{{ shipping_category.name }}</td>
                <td>{{ shipping_category.updatedAt|date }}</td>
                <td>
                    <div class="pull-right">
                        <a href="{{ path('sylius_backend_shipping_category_update', {'id': shipping_category.id}) }}" class="btn">
                           <i class="icon-pencil"></i> {{ 'sylius.backend.edit'|trans }}
                        </a>
                        <form action="{{ path('sylius_backend_shipping_category_delete', {'id': shipping_category.id}) }}" method="post" style="display: inline;">
                            <input type="hidden" name="_method" value="DELETE">
                            <button class="btn btn-danger">
                                <i class="icon-trash"></i> {{ 'sylius.backend.delete'|trans }}
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info">
        <h4 class="alert-heading">{{ 'sylius.backend.alert.info'|trans }}</h4>
        {{ 'sylius.backend.shipping_category.no_results'|trans }}
    </div>
{% endif %}

{% endmacro %}
