<!DOCTYPE html>

<html>
    <head>
        <title>
            {% block title %}
                {{ 'sylius.backend.meta.title'|trans }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        {# stylesheets... #}
        {% block stylesheets %}
        {% stylesheets output='assets/compiled/frontend.css'
            '//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.no-icons.min.css'
            '//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
            <style type="text/css">
                body {
                    padding-top: 60px;
                    padding-bottom: 40px;
                    background-color: #eee;
                }

                th {
                    background-color: #f1f1f1;
                }
                #content {
                    background-color: #fff;
                    padding: 10px 10px 20px 20px;
                    -webkit-border-radius: 6px;
                       -moz-border-radius: 6px;
                            border-radius: 6px;
                    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
                       -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
                            box-shadow: 0 1px 3px rgba(0,0,0,.15);

                }
                .sidebar {
                    background-color: #fff;
                    padding: 10px;
                    -webkit-border-radius: 6px;
                       -moz-border-radius: 6px;
                            border-radius: 6px;
                    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
                       -moz-box-shadow: 0 1px 3px rgba(0,0,0,.15);
                            box-shadow: 0 1px 3px rgba(0,0,0,.15);

                }
                .page-header {
                    background-color: #f5f5f5;
                    padding: 10px;
                    -webkit-border-radius: 6px;
                       -moz-border-radius: 6px;
                            border-radius: 6px;
                }
                .page-header h1 {
                    margin-left: 10px;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">{{ 'sylius.backend.logo'|trans }}</a>
                    <div class="nav-collapse collapse">
                        {{ knp_menu_render('sylius.backend.main', {'template': 'SyliusWebBundle::menu.html.twig', 'currentClass': 'active'}) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span2 sidebar">
                    <div class="sidebar-nav">
                        {{ knp_menu_render('sylius.backend.sidebar', {'currentClass': 'active'}) }}
                    </div>
                </div>
                <div class="span10" id="content">
                    {% for type, message in app.session.flashes if type in ['success', 'error'] %}
                        <div class="alert alert-{{ type }}">{{ message }}</div>
                    {% endfor %}

                    {% block content %}
                    {% endblock %}

                    <hr>
                    <footer>
                        <p>&copy; <a href="http://Sylius.org">Sylius</a>, 2011 - {{ 'now'|date('Y') }}.</p>
                    </footer>
                </div>
            </div>
    </div>

        {# javascripts... #}
        {% block javascripts %}
        {% javascripts output='assets/compiled/frontend.js'
            'http://code.jquery.com/jquery-1.8.0.min.js'
            'http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js'
            '@SyliusWebBundle/Resources/assets/js/form-collection.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}
    </body>
</html>
