{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/TaxCategory:macros.html.twig' as macros %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.backend.tax_category.index_header'|trans|raw }}</h1>
</div>

<div class="well">
    <a href="{{ path('sylius_backend_tax_category_create') }}" class="btn btn-primary">
        <i class="icon-plus-sign"></i> {{ 'sylius.backend.tax_category.create'|trans }}
    </a>
    <a href="{{ path('sylius_backend_tax_rate_index') }}" class="btn btn-success">
        <i class="icon-adjust"></i> {{ 'sylius.backend.tax_rate.manage'|trans }}
    </a>
</div>

{% if tax_categories.haveToPaginate()|default(false) %}
{{ pagerfanta(tax_categories, 'twitter_bootstrap_translated') }}
{% endif %}

{{ macros.list(tax_categories) }}

{% if tax_categories.haveToPaginate()|default(false) %}
{{ pagerfanta(tax_categories, 'twitter_bootstrap_translated') }}
{% endif %}
{% endblock %}
