{% extends 'SyliusWebBundle:Backend:layout.html.twig' %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.backend.tax_category.show_header'|trans|raw }}</h1>
</div>

<div class="well">
    <a href="{{ path('sylius_backend_tax_category_index') }}" class="btn btn-primary">
        <i class="icon-list-alt"></i> {{ 'sylius.backend.tax_category.manage'|trans }}
    </a>
    <a href="{{ path('sylius_backend_tax_category_update', {'id': tax_category.id}) }}" class="btn">
        <i class="icon-pencil"></i> {{ 'sylius.backend.edit'|trans }}
    </a>
    <a href="{{ path('sylius_backend_tax_category_delete', {'id': tax_category.id}) }}" class="btn btn-danger">
        <i class="icon-trash"></i> {{ 'sylius.backend.delete'|trans }}
    </a>
</div>

<div class="well">
<h3>{{ tax_category.name }}</h3>
<p>{{ tax_category.description|default('sylius.backend.tax_category.no_description'|trans) }}</p>
</div>
{% endblock %}
