<div class="form-container">
<fieldset> 
    {{ form_errors(form)  }}
    <ul class="nav nav-tabs">
        <li class="active"><a href="#main" data-toggle="tab">Product</a></li>
        {% if not product.hasVariants %}
        <li><a href="#options" data-toggle="tab">Options</a></li>
        {% endif %}
        <li><a href="#properties" data-toggle="tab">Properties</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="main">
            {{ form_row(form.name, {'attr': {'class': 'input-xxlarge'}}) }}
            {{ form_row(form.description, {'attr': {'class': 'input-xxlarge', 'rows': 10}}) }}
            {{ form_row(form.shortDescription, {'attr': {'class': 'input-xxlarge', 'rows': 3}}) }}
            <hr />
            {{ form_label(form.masterVariant.availableOn) }}
            {{ form_row(form.masterVariant.availableOn.date, {'label': false}) }}
            {{ form_row(form.masterVariant.availableOn.time, {'label': false}) }}
            {{ form_row(form.masterVariant.price) }}
            <hr />
            {{ form_row(form.taxCategory) }}
        </div>
        <div class="tab-pane" id="options">
            {% if form.options is defined %}
                {{ form_row(form.options, {'attr': {'class': 'input-xlarge'}}) }}
            {% endif %}
        </div>
        <div class="tab-pane" id="properties">
            <div id="sylius-assortment-product-properties" class="collection-container" data-prototype="{{ form_widget(form.properties.vars.prototype, {'attr': {'class': 'input-xlarge'}})|e }}">
                {% for propertyForm in form.properties %}
                    {{ form_widget(propertyForm, {'attr': {'class': 'input-xlarge'}}) }}
                {% endfor %}
            </div>
            <div class="control-group">
                <div class="controls">
                    <a href="#" class="btn btn-success" data-collection-button="add" data-prototype="sylius-assortment-product-properties" data-collection="sylius-assortment-product-properties">
                        {{ 'sylius.product.add_property'|trans }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</fieldset>
</div>

{{ form_widget(form._token) }}
