{% macro list(prototypes) %}

{% if prototypes|length > 0 %}
<table class="table">
    <thead>
        <tr>
            <th>{{ sylius_resource_sort('id', '#id') }}</th>
            <th>{{ sylius_resource_sort('name') }}</th>
            <th>options</th>
            <th>properties</th>
            <th>{{ sylius_resource_sort('updatedAt', 'last updated') }}</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for prototype in prototypes %}
        <tr>
            <td>{{ prototype.id }}</td>
            <td>{{ prototype.name }}</td>
            <td>
                <ul>
                    {% for option in prototype.options %}
                    <li>{{ option.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                <ul>
                    {% for property in prototype.properties %}
                    <li>{{ property.name }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{ prototype.updatedAt|date }}</td>
            <td>
                <div class="btn-group pull-right">
                    <a href="{{ path('sylius_backend_prototype_build', {'id': prototype.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'sylius.backend.build'|trans }}
                    </a>
                    <a href="{{ path('sylius_backend_prototype_update', {'id': prototype.id}) }}" class="btn">
                       <i class="icon-pencil"></i> {{ 'sylius.backend.edit'|trans }}
                    </a>
                    <a href="{{ path('sylius_backend_prototype_delete', {'id': prototype.id}) }}" class="btn btn-danger">
                        <i class="icon-trash"></i> {{ 'sylius.backend.delete'|trans }}
                    </a>
                </div>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<div class="alert alert-info">
    <h4 class="alert-heading">{{ 'sylius.backend.alert.info'|trans }}</h4>
    {{ 'sylius.backend.prototype.no_results'|trans }}
</div>
{% endif %}

{% endmacro %}
