{% set cart = sylius_cart_get() %}

<h4>{{ 'sylius.cart.header'|trans }}</h4>

<div class="well well-small">
{{ cart.total|sylius_money }}, {{ 'sylius.cart.total_items'|transchoice(cart.totalItems, {'%count%': cart.totalItems}) }}
<hr>
<a href="{{ path('sylius_cart_summary') }}" class="btn btn-large btn-success">
<i class="icon-shopping-cart"></i> {{ 'sylius.cart.link'|trans }}
</a>
</div>
