{% extends 'SyliusWebBundle:Frontend:layout.html.twig' %}

{% import 'SyliusWebBundle:Backend/Macros:alerts.html.twig' as alerts %}

{% form_theme form _self %}

{% block content %}
<div class="page-header">
<h1>{{ 'sylius.frontend.cart.summary_header'|trans|raw }}</h1>
</div>

{% if not cart.empty %}
<div class="alert alert-info">
<strong>{{ cart.total|sylius_money }}</strong>, {{ 'sylius.frontend.cart.total_items'|transchoice(cart.totalItems, {'%count%': cart.totalItems}) }}
</div>

{{ form_errors(form) }}

<form action="{{ path('sylius_cart_save') }}" method="post" novalidate>
<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th></th>
            <th>{{ 'sylius.frontend.cart.summary.product'|trans }}</th>
            <th>{{ 'sylius.frontend.cart.summary.quantity'|trans }}</th>
            <th></th>
            <th>{{ 'sylius.frontend.cart.summary.unit_price'|trans }}</th>
            <th style="text-align: right;">{{ 'sylius.frontend.cart.summary.total'|trans }}</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart.items %}
        {% set product = item.variant.product %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>
                <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" class="thumbnail" style="width: 90px;">
                    <img src="http://placehold.it/90x60" alt="" />
                </a>
            </td>
            <td>
                <a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">
                <p><strong>{{ product.name }}<strong></p>
                </a>
                <ul>
                    {% for option in item.variant.options %}
                    <li>{{ option.presentation }}: {{ option.value }}</li>
                    {% endfor %}
                </ul>
            </td>
            <td>
                {{ form_row(form.items[loop.index0].quantity, {'attr': {'class': 'input-small'}, 'label': false}) }}
            </td>
            <td>
                <a href="{{ path('sylius_cart_item_remove', {'id': item.id}) }}" class="btn btn-danger"><i class="icon-trash icon-white"></i></a>
            </td>
            <td>
                {{ item.unitPrice|sylius_money }}
            </td>
            <td style="text-align: right">
                {{ item.total|sylius_money }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6"></td>
            <td style="text-align: right;">
                <strong>{{ 'sylius.frontend.cart.summary.grand_total'|trans }}</strong>: {{ cart.total|sylius_money }}
            </td>
        </tr>
    </tfoot>
</table>
{{ form_rest(form) }}
<div class="well">
    <button type="submit" class="btn btn-primary btn-large">{{ 'sylius.frontend.cart.summary.save'|trans }}</button>
    <div class="pull-right">
    <a href="{{ path('sylius_checkout_start') }}" class="btn btn-success btn-large"><i class="icon-shopping-cart"></i> {{ 'sylius.frontend.cart.summary.checkout'|trans }}</a>
    <a href="{{ path('sylius_cart_clear') }}" class="btn btn-danger btn-large"><i class="icon-remove"></i> {{ 'sylius.frontend.cart.summary.clear'|trans }}</a>
    </div>
</div>
</form>
{% else %}
    {{ alerts.info('sylius.frontend.cart.empty') }}
{% endif %}

{% endblock %}

{% block sylius_cart_item_row %}
{{ parent() }}
{% block form_message %}{% endblock %}
{% endblock %}
